[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
paramiko = "*"
django-environ = "*"
llama-cpp-python = "*"
requests = "*"
librosa = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.12"
