{% extends "base.html" %}
{% block title %} Patient Identification {% endblock %}

{% block content %}
<style>

	body{
		background: #eaeaea;
	}
	.btn {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		background: #1a6fff;
		border: none;
		border-radius: 10px;
		padding: 13px 30px;
		font-family: 'DM Sans', sans-serif;
		font-size: 15px;
		font-weight: 600;
		color: #fff;
		cursor: pointer;
		transition: background 0.15s, box-shadow 0.15s, opacity 0.2s;
		box-shadow: 0 2px 8px rgba(229,57,53,0.25);
		margin-top:20px;
	}

	.btn:hover:not(:disabled) {
		background: #1a6fff;
		color: white;
		box-shadow: 0 7px 14px rgba(49, 46, 46, 0.471);
	}

	.btn:disabled {
		opacity: 0.45;
		cursor: not-allowed;
	}
</style>
<div style="max-width:500px; margin:60px auto;">

  <h2>
    {% if interview.interview_type == "new" %}
      New Patient Interview
    {% else %}
      Existing Patient Interview
    {% endif %}
  </h2>

  <form method="POST" action="{% url 'enter_patient_id' interview.id %}">
    {% csrf_token %}

    <label for="patient_id">Patient ID</label>

    <input
      type="text"
      name="patient_id"
      id="patient_id"
      required
      style="width:100%; padding:10px; margin-top:10px;"
      placeholder="Enter patient ID"
    >

    <button type="submit" class="btn">
      Continue to Recording
    </button>
  </form>

</div>

{% endblock %}
